<div class="row">
  <div class="text-center">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
  <div class="row">
    <div class="small-3 small-centered column">
      <%= link_to 'New Reservation', new_reservation_path, class: "button round" %>
    </div>
  </div>
  <div class="row"> 
    <div class="small-6 small-centered column">
      <%= render 'reservations' %>
    </div>
  </div>
</div>