<div class="row">
<div class="column small-12 medium-5 large-6">
<h2>New Reservastion</h2>
  <form>
    <div class="column">
      <input type="text" name="reservation" placeholder="Name of Reservation">
    </div>
    <div class="column">
      <input type="number" name="guest" min="1" max="8" placeholder="Number of Guest">
    </div>
    <div class="column">
      <input type="datetime-local" name="date">
    </div>
    <div class="columns">
      <a class="button" type="Submit" href="#">Submit</a>
    </div>
  </form>
</div>